@font-face {
  font-family: "meiryo";
  src: url(../fonts/meiryo.ttc);
}
@font-face {
  font-family: "meiryob";
  src: url(../fonts/meiryob.ttc);
}
@font-face {
  font-family: "savoye";
  src: url(../fonts/savoye.ttf);
}
@font-face {
  font-family: "fradm";
  src: url(../fonts/fradm.TTF);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  overflow: hidden auto;
  line-height: 1;
  font-size: 14px;
  color: #121212;
  font-family: "meiryo" !important;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff;
}

input, button, textarea {
  font-family: "meiryo";
}

input::-ms-clear {
  display: none;
}

button, a {
  line-height: unset;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

input[type=number] {
  -moz-appearance: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #d9d9d9;
  padding: 31px 0 21px;
  position: relative;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 30px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.header__column {
  display: flex;
  flex-direction: column;
}
.header__left {
  align-items: flex-start;
}
.header__city-select {
  border: 1px solid black;
}
.header__text {
  color: #121212;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.42px;
}
.header__center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}
.header__phone {
  font-family: "meiryob" !important;
  color: #121212;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0.65px;
  padding: 10px 0;
}
.header__phone:hover {
  color: #f54500;
}
.header__call-btn {
  padding: 2px 0;
  color: #5e5e5e;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.42px;
  background-color: transparent;
  position: relative;
}
.header__call-btn:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #ababab;
  opacity: 1;
  bottom: 0;
  transition: all 0.2s linear;
}
.header__call-btn:hover {
  color: #f54500;
}
.header__call-btn:hover:after {
  background-color: #f54500;
  opacity: 0;
  bottom: -3px;
}
.header__call-btn:hover:after:hover {
  opacity: 1;
  bottom: 0;
}
.header__right {
  align-items: flex-end;
}
.header__link {
  display: block;
  padding: 6px 0;
  text-align: right;
  color: #121212;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.42px;
  transition: color 0.2s;
}
.header__link:nth-of-type(2) {
  order: 1;
}
.header__link:nth-of-type(3) {
  color: #f54500;
}
.header__link:hover {
  color: #f54500;
}
.header__link:hover ~ * {
  color: #121212;
}

.nav {
  border-bottom: 1px solid #d9d9d9;
  padding: 16px 0 18px;
  box-shadow: 7px 9px 21px 1px rgba(0, 0, 0, 0.1);
}
.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.nav__menu {
  display: flex;
}
.nav__menu > li {
  margin-right: 20px;
  padding-bottom: 3px;
  position: relative;
}
.nav__menu > li:after {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #f54500;
  opacity: 0;
  transition: all 0.2s linear;
}
.nav__menu > li:hover:after {
  opacity: 1;
  bottom: 0;
}
.nav__link {
  font-family: "meiryob";
  color: #363636;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.45px;
}
.nav__cart-btn {
  display: flex;
  align-items: flex-end;
  background-color: transparent;
  position: relative;
  transition: color 0.1s ease;
}
.nav__cart-btn:hover > .nav__total {
  color: #f54500 !important;
}
.nav__count {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  min-height: 27px;
  min-width: 27px;
  position: absolute;
  left: 18px;
  bottom: 12px;
  color: #ffffff;
  font-size: 15px;
  background-color: #f14600;
}
.nav__total {
  margin-left: 11px;
  font-family: "meiryob";
  color: #514f4f;
  font-size: 18px;
}
.nav__phone {
  padding: 8px 11px 2px 14px;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.nav__phone-link {
  color: #121212;
  font-size: 17px;
  font-family: "meiryob";
}
.nav__phone-link:hover {
  color: #f54500;
}

#topNav {
  border-bottom: none;
  box-shadow: none;
  position: fixed;
  top: -100%;
  z-index: 500;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: top 0.5s ease;
}
#topNav .nav__menu > li {
  margin-right: 13px;
}
#topNav .nav__link {
  font-size: 16px;
  letter-spacing: 0.4px;
}

.slider__slides {
  display: flex;
  overflow: hidden;
  width: 600%;
  margin-left: -100%;
}
.slider__slide {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.slider__bg {
  max-width: 100%;
  overflow: hidden;
}
.slider__logo {
  position: absolute;
  max-height: 66%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.slider__pagination {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}
.slider__button {
  transition: background-color 0.2s ease;
  background-color: #f4f2f3;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 6px;
}
.slider__button:hover {
  background-color: #f44601;
}
.slider__button-active {
  background-color: #f44601;
}

.products__title {
  display: flex;
  align-items: center;
}
.products__name {
  border-bottom: 1px solid #d9d9d9;
  color: #121212;
  font-family: "fradm";
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.63px;
}
.products__name-arrow {
  color: #d8d8d8;
  font-family: "savoye";
  font-size: 17px;
  margin: 0 8px;
}
.products__name-after {
  color: #c6c6c6;
  font-family: "savoye";
  align-items: center;
  font-size: 33px;
  font-weight: 400;
}
.products__block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.product {
  margin-top: 30px;
  margin-bottom: 55px;
  margin-right: 30px;
}
.product__image-form {
  display: inline-block;
  box-shadow: 7px 9px 21px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 6px;
}
.product__image-bg {
  position: relative;
  width: 257px;
  height: 254px;
  overflow: hidden;
  border-radius: 10px;
  background: url("../img/no_photo.jpg");
}
.product__image {
  border-radius: 10px;
  transition: transform 0.4s ease;
}
.product__mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  z-index: 10;
}
.product__mask:hover {
  opacity: 1;
}
.product__mask:hover .product__description {
  transform: scale(1);
  opacity: 1;
}
.product__mask:hover + .product__image {
  transform: scale(1.2);
}
.product__description {
  background: transparent;
  margin: 0 45px;
  transition: all 0.4s ease;
  transform: scale(0);
  opacity: 0;
  color: #2e2e2e;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
}
.product__name {
  margin: 29px 13px 18px;
  min-height: 44px;
  max-width: 243px;
  color: #121212;
  font-family: "meiryob";
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.55px;
  white-space: normal;
  text-align: center;
}
.product__line {
  height: 1px;
  background-color: #d9d9d9;
  margin: 0 13px;
}
.product__block {
  margin: 22px 13px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__counts {
  background-color: #f4f2f3;
  width: 150px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 10px;
}
.product__counts > * {
  width: 33.3333333333%;
}
.product__count {
  text-align: center;
  font-size: 20px;
  color: #121212;
}
.product__count-less {
  padding: 12px 0;
  color: #121212;
  font-size: 20px;
  line-height: 11px;
  border-radius: 10px 0 0 10px;
  background-color: transparent;
}
.product__count-less:hover {
  color: #ffffff;
  background-color: #f44601;
}
.product__count-more {
  padding: 12px 0;
  color: #121212;
  font-size: 20px;
  line-height: 11px;
  border-radius: 0 10px 10px 0;
  background-color: transparent;
}
.product__count-more:hover {
  color: #ffffff;
  background-color: #f44601;
}
.product__info {
  display: flex;
}
.product__weight {
  color: #121212;
  font-size: 16px;
}
.product__price {
  color: #121212;
  font-family: "meiryob";
  font-size: 16px;
}
.product__sale {
  display: none;
  color: #6e6e6e;
  font-family: "meiryob";
  font-size: 16px;
}
.product__sale > p {
  position: relative;
}
.product__sale > p::before {
  content: "";
  position: absolute;
  top: 7px;
  height: 1px;
  background-color: #f44601;
  width: 100%;
}
.product__add {
  margin: 0 auto;
  display: block;
  padding: 10px 53px 10px 63px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.61px;
  border-radius: 10px;
  background-color: #f44601;
}

.product__on-sale,
.product__recommend,
.product__hit {
  position: relative;
}
.product__on-sale::before,
.product__recommend::before,
.product__hit::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -13px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  z-index: 50;
}

.product__on-sale::before {
  background: url("../img/icons/icon_STOCK.png") center;
}
.product__on-sale .product__sale {
  display: block;
}
.product__on-sale .product__counts {
  width: 114px;
}

.product__recommend::before {
  background: url("../img/icons/icon_RECOMMEND.png") center;
}

.product__hit::before {
  background: url("../img/icons/icon_HIT.png") center;
}
/*# sourceMappingURL=style.css.map */